


.app {
    margin: 0 auto;
    min-height: 110vh;
    background-color: #9CCEF3;
    
}
#city-search {
    margin: 20px;
    background: none;
    outline: none ;
    font-family: "Raleway";
    font-size: larger;
    border: none;
    color: white;
    
}

.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
}

/* .app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */



#city-search:focus {
    border-bottom: 1px solid #161D64;
}
.findb {
    width: 200px;
    height: 40px;
    background-color: #5879C6;
    color: #161D64;
    border: none;
    font-family: "Raleway";
    font-size: larger;
}
.Navbar{
    background-color: #749EDA;
    padding: 0.5%;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    font-family: "Raleway";
    margin-bottom: 4%;
    margin-top: -2%;

}
.hourly-weather {
    display: flex;
   justify-content: space-around;
   font-family: "Raleway";
   margin: -4% 19%;
}
.hourly-weather article {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-between;
    margin: 0;
}

.hourly-weather img{
width:50%;
padding: 20px 20px;

}
figcaption {
  color: white;
  

}

figcaption,.main-text {
  line-height: 50px;
}


.pourcentage-1,.pourcentage-2{
  font-size: 20px;
}
.temp1{
  align-items: center;
}
.hight{
  font-size: x-large;
}

/*  Search bar */

/* Current weather */
body{
  overflow: hidden;
}
@media only screen and (max-width: 600px){

  .hourly-weather {
     
    display: flex;
    border-bottom: 1px solid rgb(9, 9, 9);
    margin: auto 0;
    padding-bottom: -31px;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-content: center; */
    justify-content: space-between;
    align-items: center;

  }
  body {
    overflow: scroll;
    background-color: #9CCEF3;
  }

  .space {
    margin-bottom: 40%;
}

  
}

