.app {
    width: auto;
    min-height: 100vh;
    background-color: #9CCEF3;
}
#city-search {
    margin: 20px;
    background: none;
    outline: none ;
    font-family: "Raleway";
    font-size: larger;
    border: none;
    color: white;
    
}
#city-search:focus {
    border-bottom: 1px solid #161D64;
}
.findb {
    width: 200px;
    height: 40px;
    background-color: #5879C6;
    color: #161D64;
    border: none;
    font-family: "Raleway";
    font-size: larger;
}
.Navbar{
    background-color: #749EDA;
    padding: 20px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    font-family: "Raleway";
}
.hero-image{
 
    
}
.hourly-weather {
    display: flex;
   justify-content: space-around;
   font-family: "Raleway";
}
.hourly-weather article {
    display: flex;
    flex-direction: column;
    justify-content: ;
}
/*  Search bar */

/* Current weather */


